@import "./var.css";

@import "../pages/login.css";

html,
body {
	padding: 0;
	margin: 0;
}
html {
	position: relative;
	min-height: 100%;
	font-size: 14px;
	font-family: 'Inter', sans-serif;
}
body {
	position: relative;
	height: 100%;
	min-height: 100vh;
	background: #FFF;
}

.main {
	position: relative;
	min-width: 100vw;
	min-height: 100vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.popup {
	position: fixed;
	z-index: 100;
	display: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
	background: rgba(0, 0, 0, 0.5);
	justify-content: center;
	flex-direction: row;
}


.container {
	margin: 0 auto;
	background: #FFF;
}

.container__header {
	font-style: normal;
	font-weight: 500;
	font-size: 1.5rem;
	line-height: 1.5rem;
	text-align: center;
	margin: 1rem 0 2rem 0;
}


.container__row {
	display: flex;
	margin: 1rem;
	padding: 1rem 0 0 0;
	justify-content: space-between;
	align-items: flex-start;
	

	&+.container__row {
		border-top: 2px solid #EAEAEA;
	}
}

.container__element {
	position: relative;
	display: block;
	margin: 1.5rem;
	box-sizing: border-box;
	
	&_centered {
		text-align: center;
		justify-content: center;
	}
	&_right {
		text-align: right;
		justify-content: flex-end;
	}
}


.container__link {
	color: #3369F3;
	text-decoration: none;
	cursor: pointer;
	
	&:hover {
		filter: brightness(0.9);
		text-decoration: underline;
	}
	&_red {
		color: #F00;
	}
	&_grey {
		color: #999;
	}
	
	&_underlined {
		text-decoration: underline;
	}
}


ul, li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.container_narrow {
	flex: 0 1 23rem;
	padding: 2rem;
	margin: 2rem auto;
	box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);
	border-radius: 1rem;
	align-items: center;
	align-self: center;
}

.container__header_big {
	font-size: 2.5rem;
}


.container_wide {
	flex: 0 1 45rem;
	padding: 1rem 5rem 1rem 1rem;
}


.sidebar {
	align-self: stretch;
	background: #fbfbfb;
	border-right: 2px solid #eaeaea;
}

.sidebar_nav {
	display: flex;
	flex: 0 0 2rem;
	padding: 1rem;
	justify-content: center;
	align-items: center;
}

.sidebar__control {
	position: fixed;
	top: 50%;
}

.form__button {
	display: inline-block;
	box-sizing: border-box;
	padding: 1rem;
	font-weight: 500;
	border: none;
	cursor: pointer;
	background: transparent;
	text-decoration: none;
	
	&:active {
		transform: scale(0.98);
	}
}

.form__button_standard {
	display: inline-block;
	width: 100%;
	max-width: 23rem;
	font-size: 1.2rem;
	color: #FFF;
	background: #3369F3;
	border-radius: 0.8rem;
	
	&:hover {
		filter: brightness(1.3);
	}
}

.form__button_round {
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	padding: 1rem;
	font-weight: bold;
	line-height: 1rem;
	text-align: center;
}



.form__input__field {
	position: relative;
	z-index: 2;
	display: block;
	font-size: 1.2rem;
	width: 100%;
	box-sizing: border-box;
	max-width: 30rem;
	background: transparent;
	border: none;
	outline: none;
}


.form__input__error {
	line-height: 2rem;
	font-size: 0.75rem;
	color: #FF2F2F;
}

.form__element_hidden {
	display: none;
}


.form__input__field_standard {
	padding: 1rem 0 0.7rem 0;
	margin-bottom: 0.25rem;
	border-bottom: 1px solid #3369F3;
}

.form__input__label {
	position: absolute;
	z-index: 1;
	padding: 0.5rem 0;
	color: #999;
}

.form__input__field_standard[value=""]+.form__input__label {
	margin-top: -2.75rem;
	font-size: 1rem;
}
.form__input__label, .form__input__field_standard:focus+.form__input__label {
	margin-top: -4.15rem;
	font-size: 0.75rem;
}



