{{!< desktop }}

<div class="main">
    <div class="container container_narrow"> 
      <h1 class="container__header"> Pages list</h1>
      <ul class="container__element container__element_centered">
        {{#each pages}}
            {{#each links}}
            <li class="container__element container__element_centered"><a href="{{href}}" class="form__button form__button_standard">{{title}}</a></li>
            {{/each}}
        {{/each}}
      </ul>
    </div>
</div>
